.header {
    width: 100%;
    background: linear-gradient(to right, green, green, yellow, green, green);
    &-content {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-nav-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
            margin-right: 35px;

            a {
              color: black;
              font-size: 20px;
              font-weight: bold;

              &:hover {
                font-size: 25px;
                color: purple;
                text-decoration: none;
              }
            }
        }
    }
}
