
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 70%;

}
 .slick-list {
   max-height: 100%
 }

.slick-track {
   max-height: 100%;
   background: green;

 }
 .carousel {
   color: white;
   width: 90%;
   background-color: transparent;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 30px;

   margin-bottom: 100px;

   &-container {

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
   }

   &-title {
     margin-bottom: 40px;

     font-weight: bold;
     color: yellow
   }
 }
