.banner-container {
  margin-top: 50px;

  background-color: white;
  border: 5px yellow solid;
  width: 40%;
  box-shadow: 5px 10px green;
  padding-left: 5%;
  margin-bottom: 20px;
  min-height: 200px;
}

.banner-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: gray;

}

.banner-text{
  font-size: 18px;

}
